
.topbar {
    width: 100%;
    height: 70px;
    background-color:#E6E6FA;
    color: #000;
    position: fixed;
    top: 0;
    transition: all 1s ease;
    z-index: 3;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo {
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}

.logo:hover {
    color: red;
    background: none;
}

.hamburger {
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.hamburger span {
    width: 100%;
    height: 3px;
    background-color: black;
    transform-origin: left;
    transition: 0.5s;
}

.active {
    background-color: #b2c3f5;
    color: white;
}

.active .hamburger span:first-child {
    background-color: white; 
    transform: rotate(45deg);
}

.active .hamburger span:nth-child(2) {
    opacity: 0;
}

.active .hamburger span:last-child {
    background-color: white;
    transform: rotate(-45deg);
}
