
.menu {
    width: 300px;
    height: 100vh;
    background-color:  #b2c3f5;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.active {
    right: 0;
}

.active li {
    width: 99%;
    margin-bottom: 1.2rem;
}

.active a {
    color: blue;
    font-size: 1.4rem;
}

.active a:hover {
   color: red;
   font-weight: bold;
   background: none;
}