.experience-h2 {
    margin-top: 75px;
}

.experience-container {
    width: 80%;
    margin: 0 auto;
}

.experience-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
}

.experience-frontend, 
.experience-backend, 
.experience-business-administration 
{
    border: 1px solid var(--color-primary);
}

.experience-frontend,
.experience-backend,
.experience-business-administration {
    background: var(--color-bg-blogs);
    padding: 1rem;
    border-radius: 1rem;
    cursor: default;
    transition: 2s ease;
    width: 100%;
}

.experience-frontend:hover,
.experience-backend:hover,
.experience-business-administration:hover {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary);
}

.role-of-in-business {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    margin-top: 1rem;
}

.role-of-in-business img {
   border-radius: 0.5rem;
}

.experience-paragraphs {
    background-color: #e6e6fa;
    border-radius: 0.3rem;
    padding: 1rem;
}

.experience-image img {
    width: 100%;
}

.experience-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
}

.experience-container > h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.experience-details-icon {
    margin-top: 6px;
    margin-right: 6px;
    color: var(--color-primary);
}

.experience-details {
    display: flex;
}

/* Laptop screen size */
@media screen and (max-width: 1920px) {
    .experience-list-container h4 {
        color: green;
        padding-right: 0;
        font-size: 0.8rem;
    }
}

/* Medium screen styling, such as Tablet */

@media screen and (max-width: 1024px) {
    .experience-container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .experience-list-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .role-of-in-business {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

/* Small screen styling, such as smart phones*/

@media screen and (max-width: 760px){
    .experience-container{
        gap: 1rem;
        margin-top: 0;
    }

    .experience-list-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .role-of-in-business {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
} 
