#testimonials {
  margin-top: 10rem;
}

.testimonial-h2 {
  margin-top: 75px;
}

.testimonial-container {
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.swiper-container {
  width: 80%;
}

.client-image {
  width: 5rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-primary);
}

.testimonial-slider {
  background-color: #b0c4de;
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  user-select: none;
  box-shadow: 0 0 1px var(--color-primary);
}

.client-name {
  text-align: center;
  font-size: 1.6rem;
}

.client-testimonial {
  padding: 1rem 2rem;
  font-size: 1rem;
  text-align: justify;
}

.client-title {
  text-align: center;
}

.testimonial-paragraph {
  text-align: justify;
  border: 1px solid var(--color-primary);
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  margin: 1rem;
}

.testimonial-form {
  width: 90%;
  margin: auto;
  padding: 0.5rem 4rem;
  box-shadow: 0 0 2px;
  border-radius: 0.3rem;
}

.testimonial-form-input-container {
  margin: 1rem 0;
}


/* Laptop */

@media screen and (min-width:1080px) and (max-width:1920px) {
  .testimonial-container {
    display: flex;
    flex-direction: column;
    width: var(--container-width-sm);
  }

  .swiper-container {
    width: 80%;
    margin-bottom: 1rem;
  }

  .testimonial-form, .testimonial-paragraph  {
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
  }

  .client-testimonial {
    padding: 1rem;
    font-size: 1rem;
    text-align: justify;
  }
} 


/* Tablet */

@media screen and (max-width: 1079px) {
  .testimonial-container {
    display: flex;
    flex-direction: column;
    width: var(--container-width-sm);
  }

  .swiper-container {
    width: 100%;
    margin-top: 1rem;
  }

  .client-testimonial {
    padding: 1rem;
    font-size: 1rem;
    text-align: justify;
  }

  .client-image {
    display: none;
  }
}

/* Small screen styling, such as smart phones*/

@media screen and (max-width: 760px) {
  .testimonial-container {
    display: flex;
    flex-direction: column;
    width: var(--container-width-sm);
  }

  .swiper-container {
    width: 100%;
    margin-top: 1rem;
  }

  .client-testimonial {
    padding: 0.1rem;
    font-size: 0.70rem;
    text-align: justify;
  }

  .client-image {
    display: none;
  }
}
