@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #F0F8FF;
    --footer-bg: #000080;
    --color-bg-blogs:#F8F8FF;
    --color-bg-nav:#E6E6FA;
    --color-primary: #87CEFA;
    --color-primary-hover: #9FAFDF;
    --color-primary-blogs:	#FFFAFA;
    --color-font: #000000;
    --color-font-hover: red; 

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 95%;

    --transition: all 0.4s ease;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--color-bg);
    line-height: 2;
}

/* Large screen styling, such ast desktop and laptob*/
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

h1{
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;
}

section > h2, section > h5{
    text-align: center;
}

section > h2 {
    color: var(--color-primary);
    margin-bottom: 2rem;
}

a {
    color: var(--color-primary);
    transition: var(--transition);
    cursor: pointer;
}

a:hover {
    background-color: var(--color-primary-hover);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-font-hover);
    border-color: transparent;
}

.btn-primary {
    width: max-content;
    display: inline-block;
    background-color: var(--color-primary);
    color: black;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-font);
    border-color: transparent;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* Medium screen styling, such as Tablet */

@media screen and (max-width: 1024px) {
    .page-container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}

/* Small screen styling, such as smart phones*/

@media screen and (max-width: 760px){
    .page-container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-bottom: 2rem;
    }
}