#experience {
  margin-top: 75px;
}

.about-h2 {
  margin-top: 75px;
}

.container {
  height: 100vh;
  overflow: hidden;
}

.about-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 15% 1fr;
  column-gap: 1rem;
  background-color: #e6e6fa;
  border-radius: 0.5rem;
  padding-right: 2rem;
}

.about-me {
  aspect-ratio: 1/1;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  position: relative;
}

.about-me img {
  position: absolute;
  top: 50%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.about-me img {
  width: 10rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.about-me img:hover {
  transform: rotate(360deg);
  transition: 4s ease;
}

.about-content a {
  margin-bottom: 1rem;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  margin: 2rem 0 0 0;
}

.about-card {
  background-color: var(--color-bg-blogs);
  border: 1px solid var(--color-primary);
  border-radius: 0.4rem;
  padding: 1rem;
  text-align: center;
}

.about-card:hover {
  background: transparent;
  background-color: var(--color-bg);
  cursor: default;
}

.about-icon {
  color: var(--color-primary);
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.about-card h5 {
  font-size: 1rem;
}

.about-card small {
  font-size: 0.8rem;
}

.about-paragraphs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  margin: 2rem 0 0 0;
  background-color: #e6e6fa;
  border-radius: 0.3rem;
}

.about-paragraphs > p {
  padding: 1rem;
  border-radius: 0.2rem;
  border: 1px solid var(--color-primary);
}

.about-chat-btn {
  margin-top: 2rem;
}

.about-chat-btn a:hover {
  color: red;
}

.about-chat-btn p {
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

/* Laptop */

@media screen and (min-width:1080px) and (max-width:1920px) {

}

/* Tablet */

@media screen and (max-width: 1079px) {
  .about-container {
    background-color: var(--color-bg);
  }

  .about-me {
    display: none;
  }

  .about-content {
    display: flex;
    flex-direction: column;
  }

  .about-cards {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -2rem;
  }

  .about-paragraphs {
    width: 80vw;
    display: flex;
    flex-direction: column;
  }

  .about-chat-btn {
    width: 80vw;
    text-align: justify;
  }
}

/* Smart phones */

@media screen and (max-width: 760px) {
  .about-container {
    background-color: var(--color-bg);
  }

  .about-me {
    display: none;
  }

  .about-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .about-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .about-card {
    width: 90%;
  }

  .about-paragraphs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
